.DS_Store
node_modules
.next
out
dist
build
coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
.env.*.local
.env.local
.env.development
.env.production
.env.test
.env.staging
.env.production.local
.env.development.local
.env.test.local
.env.staging.local
.envrc
.direnv
.envrc.local
.vercel
.turbo
.eslintcache
.npmrc
.pnpmfile.cjs
.swc
.swc_output
.next/cache
.cache
.parcel-cache
.tsbuildinfo
package-lock.json
yarn.lock
pnpm-lock.yaml
DESIGN_RULES.md
